/* Reseta básico igual ao seu global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3f6fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.login-card {
  background: #ffffff;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  text-align: center;
}

/* Título */
.login-card h1 {
  margin-bottom: 5px;
  font-size: 26px;
  color: #007bff;
}

.login-card p {
  margin-bottom: 25px;
  color: #555;
}

/* Formulário */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.login-form label {
  font-weight: bold;
  color: #333;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Botão */
.login-form button {
  margin-top: 10px;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background: #0056b3;
}

/* Texto abaixo do formulário */
.signup-text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}

.signup-text a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}
